/*zero code*/
*
{
	box-sizing:  inherit;
}
html, body
{
	box-sizing:  border-box;
	height:  100vh;
	margin:  0;
	padding: 0;
}

/*site base*/

body
{
	background-color:  black;
	background-image:  url("darkerbattle.jpg");
	color:  white;
	line-height:  1.5;

	display:  flex;
	flex-flow:  column nowrap;
	justify-content:  stretch;
	align-items: center;
}

header, main, aside, section, nav, footer
{
	border-radius:  15px;
}

header, main, footer
{
	width: 90%;
	max-width: 64em;
}

header
{
	text-align: center;
	margin-bottom: 1em;
}

footer
{
	background-color: black;
	color:  white;
	text-align: center;
	margin-top:  1em;
}

main
{
	flex-grow:  1;
	display: flex;
	justify-content: space-between;
	min-height: 16em;
}

aside
{
	width: 10%;
	background-color: black;
	color: white;
	text-align: left;
	padding: 1em;
	overflow:  auto;
}

section
{
	width: 60%;
	background-color: black;
	color:  white;
	text-align: left;
	padding: 1em;
	min-height: 1em;
	overflow:  auto;
}

nav
{
	width:  10%;
	background-color: black;
	color:  white;
	text-align: right;
	padding: 1em;
	overflow:  auto;
}

/* text formatting */

/* h1 = page heading */
/* h2 = section heading */
/* h3 = heading within a section */
h3
{
	font-size:  1.2em;
	color:  #cc9933;
	margin:  1em 0 0;
}
h3:first-child { margin-top: 0; }
h3 + p, h3 + dl
{
	margin-top: 0;
}

dl
{
	display: grid;
	grid:  auto-flow / auto auto;
	grid-column-gap: 1.5em;
	justify-content: start;
}
dt
{
	grid-column: 1
	margin: 0;
}
dd
{
	font-weight: bolder;
	margin: 0;
}

