/* Overall formatting */


body {
    font-size:     1.0em;
    margin-top:    2.5ex;
    margin-bottom: 2.0ex;
}
a         { color: #ffee88; }
a:visited { color: #ffffcc; }
a:hover   { color: #6282C5; }
a:active  { color: #003399; }


/* Menu and header */


.buttonlink, .buttonhere, .buttonnone {
    display:        inline-block;
    font-size:              14px;
    width:                  10em;
    margin:          0.2ex   0px;
    padding:         0.8ex 0.2em;

    color:              white;
    background-color:   black;
    text-decoration:     none;
    border-style:      groove;
    border-color:     #cc9933;
}
.buttonlink:visited { color: white; }
.buttonlink:hover   { color: white; border-color:     #ffcc00; }
.buttonlink:active  { color: white; background-color: #003399; }
/* This is for a "link" to the current page. */
.buttonhere         { color: white; background-color: #003399; }
.buttonhere:visited { color: white; }
.buttonhere:hover   { color: white; }
.buttonhere:active  { color: white; }
/* This is for a placeholder "link". */
.buttonnone         { color: white; background-color:inherit; border-style:hidden; margin-left: 3px; margin-right: 3px; }
.buttonnone:visited { color: white; }
.buttonnone:hover   { color: white; }
.buttonnone:active  { color: white; }

#menu {
    width:          100%;
    text-align:   center;
    margin: 0ex auto 2ex;
    float:          none;
}
.menuspacer {
    margin: 0ex 0.75em;
}

.title {
    display:       block;
    text-align:   center;
    margin: 0ex auto 1ex;
}


/* Elements */


h1 {
    text-align:   center;
    font-size:     2.0em;
    margin-top:    0.0ex;
    margin-bottom: 0.5ex;
}

h2 {
    text-align:   center;
    font-size:     1.4em;
    margin-top:    0.0ex;
    margin-bottom: 1.0ex;
}

h3 {
    text-align:   center;
    font-size:     1.2em;
    margin-top:    0.0ex;
    margin-bottom: 1.0ex;

    color:       #ffcc00;
}

p {
    text-align:   center;
    margin-top:      2ex;
    margin-bottom:   4ex;
}

div {
    text-align: left;
    margin:  1ex 1em;
}

button {
    margin-left:          2em;
    margin-right:         2em;
    margin-top:           1ex;
    margin-bottom:        1ex;
    padding:              5px;

    color:              white;
    background-color:   black;
    border-color:     #cc9933;
    border-style:      groove;
}
button:hover {
    border-color:     #ffcc00;
}
button:active {
    background-color: #003399;
}

iframe {
    margin-left:    auto;
    margin-right:   auto;
    margin-top:    0.5ex;
    margin-bottom: 1.0ex;
}

form {
    text-align:   center;
    padding:       0.5em;
    margin-left:    auto;
    margin-right:   auto;
    margin-top:    1.0ex;
    margin-bottom: 1.0ex;

    border: thick groove;
}

fieldset {
    width:            90%;
    margin-left:     auto;
    margin-right:    auto;
    padding-left:   0.5em;
    padding-right:  0.5em;

    margin-top:     1.0ex;
    margin-bottom:  3.0ex;
    padding-top:    0.0em;
    padding-bottom: 0.5em;

    border:    thin ridge;
}

legend {
    text-align:   left;
    margin-left:   0em;
    margin-right:  0em;
    margin-top:    0ex;
    margin-bottom: 0ex;
    padding:   0px 5px;

    color:     #ffcc00;
}

input  {
    margin-left:   0.5em;
    margin-right:  0.5em;
    margin-top:    0.0ex;
    margin-bottom: 0.0ex;
    padding:       0.0em;
}

select {
    margin-left:   0.5em;
    margin-right:  0.5em;
    margin-top:    0.0ex;
    margin-bottom: 0.0ex;
    padding:       0.0em;
}

label {
    margin-left:   0.5em;
    margin-right:  0.5em;
    margin-top:    0.0ex;
    margin-bottom: 0.0ex;
    padding:       0.0em;
}

label input  {
    margin-left:  0.0em;
    padding:      0.0em;
}


/* Special classes */


.error {
    text-align:  center;
    font-size:   larger;
    font-weight: bolder;

    color:                red;
    background-color: #000044;
}

.warn {
    font-weight:     bolder;
    color:              red;
    background-color: black;
}

.spacing {
    visibility: hidden;
}

input.feedback {
    color:           #ffee88;
    background-color:  black;
    border:             none;
}
input.feedback[disabled] {
    color:           #ffee88;
    background-color:  black;
    border:             none;
}

.criteria {
    font-size: smaller;
}
