/* Formatting for the search results. */
body {
	padding: 10px 0.5em;
}


/* The report on the number of matches (SPAN) */
.matches {
	font-size: smaller;
}


/* Alternating backgrounds (DIV) */
.even {
	background-color: #000000;
}

.odd {
	background-color: #181800;
}


/* A build's display (DIV) */
.build {
	margin-left:      0em;
	margin-right:     0em;
	padding-left:   0.5em;
	padding-right:  0.5em;

	margin-top:       0px;
	margin-bottom:   -1px;
	padding-top:    1.5ex;
	padding-bottom: 1.5ex;

	border-top:    thin solid grey;
	border-bottom: thin solid grey;
}


/* A build's description and link (A) */
.buildlink {
	font-weight: bolder;
}
.buildlink:link    { color: #ffcc00; }
.buildlink:visited { color: #ffee88; }
.buildlink:hover   { color: #6282C5; }
.buildlink:active  { color: #003399; }


/* A build's list of classes (SPAN) */
.classinfo {
	font-style: oblique;
}


/* A build's race (SPAN) */
.raceinfo {
}


/* A build's author (SPAN) */
.authorinfo {
	color: #ffff00
}
