/* This is the generic CSS for all ECB guild files. */
/* Built on top of the parent defaults: */
@import "../wognwn.css";


/* general */

p {
    width:            95%;
    text-align:   justify;
    margin-left:     auto;
    margin-right:    auto;
    margin-top:     2.0ex;
    margin-bottom:  2.0ex;
}

h1 + p {
    text-align: center;
}

/* anchors that look like buttons */
.buttonlink, .buttonhere {
    display:        inline-block;
    font-size:             1.2em;
    width:                  10em;
    margin:          0.2ex   0px;
    padding:         0.8ex 0.2em;

    color:              white;
    background-color:   black;
    text-decoration:     none;
    border-style:      groove;
    border-color:     #cc9933;
}
.buttonlink:visited { color: white; }
.buttonlink:hover   { color: white; border-color:     #ffcc00; }
.buttonlink:active  { color: white; background-color: #003399; }
/* This is for a "link" to the current page. */
.buttonhere         { color: white; background-color: #003399; }
.buttonhere:visited { color: white; }
.buttonhere:hover   { color: white; }
.buttonhere:active  { color: white; }

/* page layout */

#menu {
    width:          100%;
    text-align:   center;
    margin: 0ex auto 2ex;
    float:          none;
}
.menuspacer {
    margin: 0ex 0.75em;
}

main
{
	border-radius:  15px;
	background-color: black;
	color:  white;
	line-height:  1.5;
	overflow: auto;
}

/* table layout */
table {
    width:                   95%;
    margin-left:            auto;
    margin-right:           auto;
    margin-top:              2px;
    margin-bottom:           2px;
    border-collapse:    collapse;
    border: medium inset #eeaa22;
}

th {
    color:             #ffbb66;
    background-color:  #444444;
    text-align:         center;
    font-weight:          bold;
    padding:       0.5ex 0.5em;
    border: thin solid #cc9933;
}

td {
    color:               white;
    background-color:    black;
    text-align:           left;
    border: thin solid #664933;
    padding:       0.5ex 0.5em;
}

